{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<img src="{% static 'polls/example.jpg' %}" alt="My image">  

{% comment %}
<img src="{% static 'images/polls/example.jpg' %}" alt="My image">  
{% endcomment %}

  {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
