

/* body{
    background: url("polls/images/example.jpg") 50% 0 no-repeat fixed;
    color: white;
    height: 650px;
    padding: 100px 0 0 0;   
    } */
/* body {
    background:white url("images/example.jpg") no-repeat;
}   */
li a {
    color: green;
}

/* body{
    background: white url("images/background.png")
    no-repeat;
} */